# Objets
*.o

# Libraries
*.a

# Executables
*.exe
*.out

# war-machine
deepthought

# push_swap_visualizer
*push_swap_visualizer*

# Visual Studio Code
Curriculum/00_libft/.vscode/*
.vscode/

# folders
*99_other/

